@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

#navbar {
  margin-bottom: 75px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #000;
}

#navbar .nav-logo {
  font-size: 36px;
  font-family: "Indie Flower", cursive;
  color: #fff;
}

#navbar .nav-logo:hover {
  text-decoration: none;
}

#navbar .nav-link {
  font-size: 18px;
  color: #fff;
}

#navbar .nav-link:hover {
  background-color: #333;
}
