@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

#navbar {
  margin-bottom: 75px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #000;
}

#navbar .nav-logo {
  font-size: 36px;
  font-family: "Indie Flower", cursive;
  color: #fff;
}

#navbar .nav-logo:hover {
  text-decoration: none;
}

#navbar .nav-link {
  font-size: 18px;
  color: #fff;
}

#navbar .nav-link:hover {
  background-color: #333;
}

.item {
  width: 100%;
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 50px 0;
  border-radius: 12px;
}

.item .item-text {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 5px;
  height: 30px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
}

.item .item-text .price {
  float: right;
}

.item .item-text .btn {
  float: right;
}

.item .item-text .item-hidden {
  opacity: 0;
}

.item:hover .item-text {
  height: 150px;
}

.item:hover .item-text .item-hidden {
  opacity: 1;
}
